# sadsaddsads
# Variables base para sitio público generado por SOTEK Platform

NODE_ENV=development
PUBLIC_URL=http://localhost

POSTGRES_USER=public_site
POSTGRES_PASSWORD=changeme
POSTGRES_DB=sadsaddsads
DATABASE_URL=postgresql://public_site:changeme@localhost:5433/sadsaddsads?schema=public
PORT=3000
CORS_ORIGINS=http://localhost:3001,http://localhost
NEXT_PUBLIC_API_URL=http://localhost:3000
