# Variables de servidor para sitio público
PUBLIC_URL=http://example.com
HTTP_PORT=80

POSTGRES_USER=public_site
POSTGRES_PASSWORD=CAMBIAR_PASSWORD_SEGURA
POSTGRES_DB=sadsaddsads
DATABASE_URL=postgresql://public_site:CAMBIAR_PASSWORD_SEGURA@postgres:5432/sadsaddsads?schema=public
